html
  font-size 16px

body
  font-family: 'Roboto Mono', monospace;
  margin 0

.container
  max-width 1440px
  box-sizing border-box
  width 100%
  margin 0 auto
  padding 0 55px
  @media (max-width: 768px)
    padding 0 clamp(16px, 8vw, 55px)
  @media (max-width: 520px)
    padding 0 clamp(16px, 3vw, 55px)