.header
  display flex
  box-sizing border-box
  padding 24px 0
  justify-content space-between
  align-items center
  &__db-text
    color #89898a
    font-size 14px
    font-style italic
    & span
      color #000
  &__section
    display flex
    align-items center
    gap 13px
  &__phone
    font-size 20px
    font-weight bold
    color #000
    text-decoration none
  &__socials
    gap 15px
    & div
      align-items center
      line-height 0
      display flex
      gap 6px
