.header
  background-color #F7FAFC;
  &__container
    align-items center
    display flex
    flex-wrap wrap
  &__logo
    display block
    width 182px
    margin-right auto
    height 36px
    background-size 100% 100%
    background-repeat no-repeat
    background-image url("./../../public/images/logo.svg")
    @media (max-width: 510px)
      margin-top 33px
      margin-bottom 43px
  & nav
    display flex
    @media (max-width: 1000px)
      display none
    & a
      margin-right 64px
      font-weight 700
      text-decoration none
      font-size 1rem
      color #3D3C69;
      &:last-child
        margin-right clamp(34px, 5vw, 64px)
      &.active
        border-bottom: 2px dashed #4DCCBD;
        padding-bottom 2px
    @media (max-width: 1024px)
      a
        &:last-child
          margin-right clamp(20px, 3vw, 34px)
  &__button-wrapper
    @media (max-width: 510px)
      display: none;
