.reviews
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: clamp(10px, 2vw, 24px)
  box-sizing border-box
  max-width 360px
  padding clamp(15px, 2vw, 24px) clamp(10px, 2vw, 16px)
  &__smile
    display inline-block
    background-image url("./../../public/images/smile.svg")
    width 1em
    height 1em
    background-repeat no-repeat
    background-position center
    margin-bottom: -.1em;
    background-size contain
  &__answer
    margin-bottom clamp(20px, 3vw, 40px)
    &:last-child
      margin-bottom 0
  &__date
    color #616266
    font-size: .8rem;
    line-height: 16px;
    margin-left 10px
  &__name
    font-size: 1rem;
    line-height: 1rem;
    margin 0
    font-weight 700
  &__user
    display flex
    margin-bottom 12px
    align-items center
    & img
      margin-right 17px
  &__rating
    display flex
    margin-bottom 10px
  &__stars
    display flex
  &__comment
    color: #616266;
    margin 0
    font-size 1rem
    line-height: 20px;
    font-weight 400
  &__support
    background: #F8F9FB;
    margin-top 15px
    box-sizing border-box
    padding 8px
    width 95%
    margin-left auto
    &-head
      display flex
      align-items center
      justify-content space-between
      margin-bottom clamp(7px, 1vw, 15px)
