.why-work
  margin-bottom clamp(50px, 10vw, 150px)
  padding-top 20px
  @media(max-width 768px)
    margin-top 40px
  &__steps
    margin-top clamp(20px, 7vw, 85px)
    display grid
    grid-template-columns repeat(3, minmax(200px, 320px))
    justify-content space-between
    gap 15px
    @media(max-width 900px)
      grid-template-columns 1fr
      row-gap 55px
  &__step
    & b
      font-weight: bold;
      font-size: 1.3rem;
      line-height: 1.4rem;
      color #201F43
      display block
      margin-bottom 8px
    & p
      margin 0
      color: #3D3C69;
      font-size: 1rem;
      line-height: 1.3rem;
      font-weight 400
      @media(max-width 650px)
        font-size clamp(16px, 4vw, 20px)
    &:nth-child(1)
      & ^[-2]__head
        background: linear-gradient(270deg, #FFFFFF 11.88%, rgba(255, 255, 255, 0.4) 100%), #A6E5DE;
    &:nth-child(2)
      & ^[-2]__head
        background: linear-gradient(270deg, #FFFFFF 11.88%, rgba(255, 255, 255, 0.4) 100%), #BD87E0;
    &:nth-child(3)
      & ^[-2]__head
        background: linear-gradient(270deg, #FFFFFF 11.88%, rgba(255, 255, 255, 0.4) 100%), #9592F8;
  &__head
    width 100%
    border-radius: 64px 0px 0px 64px;
    height 98px
    display flex
    margin-bottom clamp(16px, 1.5vw, 24px)
    & img
      --size 40px
      width var(--size)
      height var(--size)
      margin auto clamp(14px, 3vw, 28px)

